.invoice-product-section {
  width: 100%;
  height: 100%;
  // border: 2px solid #d7d7d9;
  // background-color: white;
  // padding: 2rem 3rem;
  // font-weight: 300 !important;
  .new-product-container {
    width: 100%;
    height: 100%;
    border: 2px solid #d7d7d9;
    border-radius: 0 !important;
  }
}
