.main-container {
  display: flex;
  flex-direction: row;
  min-width: 100%;

  .nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
    width: 180px;
    background: #363b4d;
    // padding-inline: 10px;
  }

  .logo img {
    width: 100%;
    border-bottom: 3px solid rgb(255, 102, 0);
  }

  hr {
    background-color: white;
  }
}

.menu-items {
  padding-inline: 14px;
  color: white;
  .menu-heading {
    font-weight: 700;
  }

  .sub-menu {
    cursor: pointer;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;

    .menu-links {
      text-decoration: none;
      color: white;
      font-style: normal;
      font-size: 12px;
    }
  }
}
