<!-- <p>invoice-container works!</p> -->

<section class="main-container">
  <!-- Sidemenu  -->
  <!-- <div class="vertical-menu-container"> -->
  <nav class="nav-bar">
    <div class="logo mb-3">
      <img src="../../../../assets/imgs/logo.png" alt="" />
      <!-- <img
        src="../../../../assets/imgs/manubhai-high-resolution-logo (1).png"
        alt=""
      /> -->
    </div>
    <div class="menu-items mb-2">
      <span class="menu-heading">Invoice</span>
      <div class="sub-menu">
        <a class="menu-links">
          <i class="fa-solid fa-table-list"></i>
          All Records
        </a>
        <a class="menu-links">
          <i class="fa-solid fa-plus"></i> New Invoice
        </a>
      </div>
    </div>
    <div class="menu-items mb-2">
      <span class="menu-heading">Product </span>
      <div class="sub-menu">
        <a class="menu-links">
          <i class="fa-solid fa-plus"></i>
          Add Product
        </a>
        <a class="menu-links">
          <i class="fa-solid fa-seedling"></i>
          Product Catalog
        </a>
      </div>
    </div>
    <!-- <a class="button">
      <i class="material-symbols-rounded"> Menu </i>
    </a> -->
  </nav>
  <!-- </div> -->

  <!-- Dynamic Screen Content  -->
  <div class="dynamic-screen">
    <app-header></app-header>
  </div>
</section>
