.main-container {
  display: flex;
  flex-direction: row;
  min-width: 100%;

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 180px;
    background: #363b4d;
  }
}
