<!-- <p>invoice-container works!</p> -->

<section class="main-container">
  <!-- Sidemenu  -->
  <!-- <div class="vertical-menu-container"> -->
  <nav class="nav-bar">
    <div class="logo mb-3">
      <img src="../../../../assets/imgs/logo.png" alt="" />
      <!-- <img
        src="../../../../assets/imgs/manubhai-high-resolution-logo (1).png"
        alt=""
      /> -->
    </div>
    <div class="menu-items">
      <span>Invoices</span>
      <div class="sub-menu">
        <a class="menu-links">
          <i class="fas fa-user"> All Records </i>
        </a>
        <a class="menu-links">
          <i class="fas fa-user"> New Invoice</i>
        </a>
      </div>
    </div>
    <!-- <a class="button">
      <i class="material-symbols-rounded"> Menu </i>
    </a> -->
  </nav>
  <!-- </div> -->

  <!-- Dynamic Screen Content  -->
  <div class="dynamic-screen">
    <app-header></app-header>
  </div>
</section>
