<!-- login Page  -->
<section class="signin-form-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
        <!-- --logo  -->
        <div class="logo">
          <!-- <img src="./logo.png" alt="Logo" class="img-fluid "> -->
        </div>

        <form [formGroup]="userLoginForm" (ngSubmit)="doLogin()" action=""
          class="rounded shadow mb-4 p-5 bg-white signin-form">
          <h4 class="text-dark fw-bolder fs-4 mb-4">Log In</h4>
          <div class="mb-3">
            <input type="text" class="form-control mb-1" id="UserName" name="UserName" placeholder="User Name"
              formControlName="UserName">
            <span *ngIf="userLoginForm.get('UserName').hasError('required') && userLoginForm.get('UserName').touched"
              class="error-msg">Please Enter Valid Name !</span>
          </div>
          <div class="mb-2">
            <input type="password" class="form-control mb-1" id="password" name="password" placeholder="Password"
              formControlName="password">
            <span *ngIf="userLoginForm.get('password')?.hasError('required') && userLoginForm.get('password').touched"
              class="error-msg">Please Enter Valid Password!</span>
          </div>
          <button type="submit" class="btn btn-primary login_btn mt-2">Login</button>
        </form>
      </div>
      <!-- <div class="d-flex justify-content-between align-items-center">
        <button type="button" class="btn btn-primary" (click)="show()">Show</button>
        <button type="button" class="btn btn-danger" (click)="hide()">Hide</button>
      </div> -->
    </div>
  </div>
</section>
