// Table of Contents:
//  1. Colors
//  2. Font Family

// color
$primary_text_color: #030303;
$secondary_text_color: white;
$primary_btn_color: #ff6633;

//Font
$primary_font_family: Poppins, sans-serif;
// $font-family-light: 'robotolight';
// $font-family-regular: 'robotoregular';
// $font-family-medium: 'robotomedium';
// $font-family-bold: 'robotobold';
