<!-- Sidemenu  -->
<nav class="nav-bar">
  <div class="company-logo mb-3">
    <img src="assets/imgs/White logo - no background.png" alt="" />
  </div>
  <div class="menu-items mb-2">
    <span class="menu-heading">Invoices</span>
    <div class="sub-menu">
      <div class="menu-links" routerLinkActive="active">
        <a class="links" routerLink="/invoice/create"> <i class="fa-solid fa-plus"></i> New Invoice </a>
      </div>
      <div class="menu-links">
        <a class="links">
          <i class="fa-solid fa-table-list"></i>
          All Records
        </a>
      </div>
    </div>
  </div>
  <div class="menu-items mb-2">
    <span class="menu-heading">Product </span>
    <div class="sub-menu">
      <div class="menu-links" routerLinkActive="active">
        <a class="links" routerLink="/invoice/addproduct" >
          <i class="fa-solid fa-plus"></i>
          Add Product
        </a>
      </div>
      <div class="menu-links">
        <a class="links">
          <i class="fa-solid fa-seedling"></i>
          Product Catalog
        </a>
      </div>
    </div>
  </div>
  <div class="menu-items mb-2">
    <span class="menu-heading">Customer </span>
    <div class="sub-menu">
      <div class="menu-links">
        <a class="links">
          <i class="fa-solid fa-plus"></i>
          Add Vendor
        </a>
      </div>
      <div class="menu-links">
        <a class="links">
          <i class="fa-solid fa-person-circle-plus"></i>
          Vendor List
        </a>
      </div>
    </div>
  </div>
  <!-- <a class="button">
      <i class="material-symbols-rounded"> Menu </i>
    </a> -->
</nav>
