.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;
  width: 200px;
  background: #363b4d;
  // padding-inline: 10px;
  .company-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 10px;
    img {
      width: 70%;
      // height: 100px;
    }
  }
}

hr {
  background-color: white;
}

.menu-items {
  // padding-inline: 14px;
  color: white;
  .menu-heading {
    font-weight: 700;
    padding-inline: 12px;
  }

  .sub-menu {
    padding: 8px 7px;
    display: flex;
    flex-direction: column;

    .menu-links {
      padding-inline: 20px;
      &:hover {
        background: rgba(0, 0, 0, 0.12);
        color: #fff;
      }
    }

    .links {
      cursor: pointer;
      text-decoration: none;
      color: white;
      font-style: normal;
      font-size: 16px;
      margin-inline: revert;
      display: flex;
      flex-direction: row;
      gap: 12px;
      align-items: center;
      justify-content: start;
      padding-block: 7px;
    }
  }
}
.active {
  background: rgba(0, 0, 0, 0.12);
}
