.invoice-create-container {
  width: 100%;
  height: 100%;
  border: 2px solid #d7d7d9;
  background-color: white;
  padding: 2rem 3rem;

  .invoice-type {
    background-color: #a1a1a1;
    color: white;
  }
}
