<section class="invoice-wrapper container">
  <div class="invoice-setting"></div>
  <div class="invoice-create-container">
    <div class="row">
      <div class="col-12">
        <div class="invoice-desc d-flex align-item-center justify-content-start">
          <h4 class="invoice-type">Draft</h4>
          <div class="invoice-title">
            <input type="text" id="title" class="form-control border-gray" value="Invoice" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
