<section class="invoice-wrapper container">
  <!-- <div class="submit-btn mb-3 mx-auto">
    <p-button label="Secondary" severity="Save Draft"></p-button>
    <p-button label="Danger" severity="Submit"></p-button>
  </div> -->
  <div class="invoice-setting"></div>
  <div class="invoice-create-container">
    <form [formGroup]="invoiceForm">
      <div class="row">
        <!-- invooice-title  -->
        <div class="col-12">
          <div class="invoice-desc d-flex align-item-center justify-content-starts">
            <div class="invoice-type">
              Draft
            </div>
            <div class="invoice-title">
              <input type="text" id="title" readonly class="form-control border-gray fw-medium" value="Invoice" />
            </div>
          </div>
        </div>

        <!-- invoice number  -->
        <div class="col-12 mt-4">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-start   flex-column justify-content-center   ">
              <label for="invoiceNO" class="form-label fw-medium  d-block ">Invoice No.</label>
              <div class="input-group mb-3 w-75">
                <span class="input-group-text" id="basic-addon1">#</span>
                <input type="number" name="invoiceNo" class="form-control border-gray" id="invoiceNo" placeholder="No"
                  formControlName="invoiceNo" [ngClass]="{
                    'invalid-field': invoiceForm.get('invoiceNo').invalid && invoiceForm.get('invoiceNo').touched
                  }">
              </div>
            </div>
            <div class="d-flex align-items-start flex-column justify-content-start ">
              <label for="basic" class="form-label fw-medium ">Date</label>
              <p-calendar inputId="basic" class="ng-calender border-gray" dateFormat="dd/mm/yy"
                formControlName="invoiceDate" [ngClass]="{
                  'invalid-field': invoiceForm.get('invoiceDate').invalid && invoiceForm.get('invoiceDate').touched
                }"></p-calendar>
            </div>
            <div class="d-flex align-items-start flex-column justify-content-start ">
              <label for="time" class="form-label fw-medium">Time</label>
              <p-dropdown [options]="timeCategories" formControlName="invoiceTime" class="unitDropdown"
                [showClear]="true" placeholder="Select Time" id="time">
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption }}</div>
                  </div>
                </ng-template>
                <ng-template let-timing pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ timing }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>

        <!-- invoice-customer-details   -->
        <div class="col-12 mt-3">
          <div class="row">
            <div class="col-6">
              <div class="card border-gray">
                <h5 class="card-header fw-normal p-3">Customer Details</h5>
                <div class="card-body">
                  <div class="row gx-4 gy-3" formGroupName="customerDetails">
                    <div class="col-6">
                      <input type="text" class="form-control border-gray" placeholder="Customer Name"
                        formControlName="customerName" id="customerName" name="customerName">
                    </div>
                    <div class="col-6">
                      <input type="email" class="form-control border-gray" placeholder="Email Address"
                        formControlName="customerEmail" id="customerEmail" name="customerEmail">
                    </div>
                    <div class="col-6">
                      <input type="text" class="form-control border-gray" placeholder="Customer Address"
                        formControlName="customerAddress1" id="customerAddress1" name="customerAddress1">
                    </div>
                    <div class="col-6">
                      <input type="text" class="form-control border-gray" placeholder="Customer Address 2"
                        formControlName="customerAddress2" id="customerAddress2" name="customerAddress2">
                    </div>
                    <div class="col-6">
                      <input type="number" class="form-control border-gray" placeholder="Phone Number"
                        formControlName="customerPhoneNumber" id="customerPhoneNumber" name="customerPhoneNumber">
                    </div>
                    <div class="col-6">
                      <input type="number" class="form-control border-gray" placeholder="Mobile Number"
                        formControlName="customerMobileNumber" id="customerMobileNumber" name="customerMobileNumber">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card border-gray">
                <h5 class="card-header fw-normal p-3">Business Profile</h5>
                <div class="card-body">
                  <div class="row gx-4 gy-3" formGroupName="BusinessDetails">
                    <div class="col-6">
                      <input type="text" class="form-control border-gray" placeholder="Business Name"
                        formControlName="BusinessName" id="BusinessName" name="BusinessName">
                    </div>
                    <div class="col-6">
                      <input type="text" class="form-control border-gray" placeholder="Email Address"
                        formControlName="BusinessEmail" id="BusinessEmail" name="BusinessEmail">
                    </div>
                    <div class="col-6">
                      <input type="text" class="form-control border-gray" placeholder="Address 1"
                        formControlName="BusinessAddress1" id="BusinessAddress1" name="BusinessAddress1">
                    </div>
                    <div class="col-6">
                      <input type="text" class="form-control border-gray" placeholder="Address 2"
                        formControlName="BusinessAddress2" id="BusinessAddress2" name="BusinessAddress2">
                    </div>
                    <div class="col-6">
                      <input type="text" class="form-control border-gray" placeholder="Phone Number"
                        formControlName="BusinessPhoneNumber" id="BusinessPhoneNumber" name="BusinessPhoneNumber">
                    </div>
                    <div class="col-6">
                      <input type="text" class="form-control border-gray" placeholder="Mobile Number"
                        formControlName="BusinessMobileNumber" id="BusinessMobileNumber" name="BusinessMobileNumber">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- invoice table  -->
        <div class="col-12 my-4">
          <section class="statement-container" formArrayName="BillOfproducts">
            <p-table styleClass="p-datatable-sm" class="invoice-table"
              [value]="invoiceForm.get('BillOfproducts')['controls']">
              <ng-template pTemplate="header">
                <tr>
                  <th>Description</th>
                  <th>Quantity</th>
                  <th>Rate</th>
                  <th>Amount</th>
                  <th><button pButton pRipple icon="pi pi-plus " class="p-button-rounded p-button-sucess p-add"
                      (click)="addNewProduct()"></button>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data let-i="rowIndex">
                <tr [formGroupName]=i>
                  <!-- Product Dropdown  -->
                  <td>
                    <div class=" card flex justify-content-center border-gray">
                      <p-dropdown [options]="products" optionLabel="itemName" [filter]="true" filterBy="itemName"
                        [showClear]="true" placeholder="Item Name" formControlName="productName">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                          <div class="flex align-items-center gap-2">
                            <div>{{ selectedOption.itemName }}</div>
                          </div>
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                          <div class="flex align-items-center gap-2">
                            <div>{{ item.itemName }}</div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </div>
                  </td>
                  <!-- Quan -->
                  <td>
                    <div class="d-flex justify-content-start align-items-center gap-3">
                      <p-inputNumber inputId="minmaxfraction" mode="decimal" class="inputFiled" [maxFractionDigits]="3"
                        formControlName="quantity" (ngModelChange)="calculateTotalPrice(i)"></p-inputNumber>
                      <p-dropdown [options]="unitList" class="unitDropdown" [showClear]="true" placeholder="Unit"
                        formControlName="unit">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                          <div class="flex align-items-center gap-2">
                            <div>{{ selectedOption }}</div>
                          </div>
                        </ng-template>
                        <ng-template let-unit pTemplate="item">
                          <div class="flex align-items-center gap-2">
                            <div>{{ unit }}</div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </div>
                  </td>
                  <!-- Rate   -->
                  <td> <p-inputNumber inputId="minmaxfraction" mode="decimal" class="inputFiled" [minFractionDigits]="2"
                      [maxFractionDigits]="3" formControlName="rate" (ngModelChange)="calculateTotalPrice(i)">
                    </p-inputNumber>
                  </td>
                  <!-- AMount  -->
                  <td>
                    <p-inputNumber inputId="minmaxfraction" mode="decimal" class="inputFiled" [minFractionDigits]="2"
                      [maxFractionDigits]="3" formControlName="amount" (ngModelChange)="calculateInvoiceSubTotal()">
                    </p-inputNumber>
                  </td>
                  <!-- Action Btn  -->
                  <td>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                      (click)="removeProduct(i)"
                      [disabled]="!(invoiceForm.get('BillOfproducts')['controls'].length > 1)"></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="add-item-section mt-3 text-end">
              <button type="button" class="btn btn-primary" (click)="addNewProduct()">New Item</button>
            </div>
          </section>

        </div>

      </div>

      <div class="row">
        <div class="col-6 ms-auto">
          <div class="statement-audit-container">
            <div class="audit-property-1 flex-container">
              <p class="fw-medium">Sub Total</p>
              <p-inputNumber inputId="minmaxfraction" mode="decimal" class="inputFiledd" placeholder="0.00"
                [minFractionDigits]="2" [maxFractionDigits]="3" formControlName="subTotal" name="subTotal" id="subTotal"
                [readonly]="true">
              </p-inputNumber>
            </div>
            <div class="audit-property-2 flex-container">
              <p class="fw-medium">Delivery Charge <span class="text-danger">(+)</span></p>
              <p-inputNumber inputId="minmaxfraction" mode="decimal" class="inputFiledd" placeholder="0.00"
                [minFractionDigits]="2" [maxFractionDigits]="3" formControlName="deliveryCharge" name="deliveryCharge"
                id="deliveryCharge" (ngModelChange)="calculateDeliveryCharge()">
              </p-inputNumber>
            </div>
            <div class="audit-property-3 flex-container">
              <p class="fw-medium">Vegetable Return Amount <span class="text-danger">(-)</span></p>
              <p-inputNumber inputId="minmaxfraction" mode="decimal" class="inputFiledd" placeholder="0.00"
                [minFractionDigits]="2" [maxFractionDigits]="3"
                formControlName="cancelledCharge" name="cancelledCharge" id="cancelledCharge"
                (ngModelChange)="calculateCancelledOrderCharge()">
              </p-inputNumber>
            </div>
            <div class="audit-property-4 flex-container">
              <div class="audit-total" style="background-color: #ff8923;">
                Total(INR)
              </div>
              <div class="audit-value">
                <p-inputNumber inputId="minmaxfraction" mode="decimal" [ngStyle]="{'border': 'none'}" placeholder="0.00"
                  [minFractionDigits]="2" [maxFractionDigits]="3" formControlName="totalBill" name="totalBill"
                  id="totalBill" [readonly]="true">
                </p-inputNumber>
              </div>
            </div>
            <button type="button" class="btn btn-primary" style="background-color: #ff8923;"
              (click)="getInvoiceDetails()">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
