.invoice-wrapper {
  position: relative;

  .speeddial-left {
    position: sticky;
    right: 0;
    bottom: 0;
    z-index: 9999;
  }

  .invoice-create-container {
    width: 100%;
    height: 100%;
    border: 2px solid #d7d7d9;
    background-color: white;
    padding: 2rem 3rem;
    font-weight: 300 !important;
    overflow: auto; /* Enable main content scrolling */
    .invoice-type {
      background-color: #a1a1a1;
      color: white;
      padding-inline: 12px;
      margin-right: 20px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      font-weight: lighter;
      justify-content: center;
      font-size: larger;
    }
    .input-group-text {
      border-radius: 0;
      border-color: #d7d7d9;
      border: 2px;
    }

    .statement-container .add-item-section button {
      background-color: #747d9d;
      color: white;
      border: none;
      font-size: 14px;
      border-radius: 0px;
      padding: 9px 19px;
    }

    .p-add.p-button-sucess {
      color: #ffffff;
      border: 1px solid #747d9d;
      background: #747d9d;
      &:hover,
      &:focus {
        background: #68739d;
        border: 1px solid #68739d;
      }
    }
  }
}

//For date
.p-calendar .p-inputtext {
  box-shadow: none;
  border: 2px solid #d7d7d9;
  border-radius: 0;
  height: 33px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d7d7d9;
  padding: 5px;
}

.statement-audit-container {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.audit-property-4 {
  border: 3px solid #ff8923;
  padding: 0 10px 0 0;
  height: 3rem;
  .audit-total {
    background-color: #ff8923;
    height: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    padding-inline: 10px;
    font-weight: 600;
  }
}

.invalid-field {
  border: 1px solid red;
}

.invoice-create-container .ng-calender {
  font-size: 1rem;
  color: #495057;
  background: #ffffff;
  padding: 0.75rem 0.75rem;
  border: 2px solid #ced4da;
  height: 40px;
}
